[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "tosca"]
	path = tosca
	url = https://github.com/docma-tu/tosca
	shallow = true
	registered = true
